.banner-content {
  padding: 110px 50px 120px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner-content::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(rgba(5, 25, 55, 0.5)),
    color-stop(rgba(10, 39, 98, 0.5)),
    color-stop(rgba(41, 53, 141, 0.5)),
    color-stop(rgba(84, 62, 183, 0.5)),
    to(rgba(135, 64, 221, 0.5))
  );
  background-image: linear-gradient(
    to right top,
    rgba(5, 25, 55, 0.5),
    rgba(10, 39, 98, 0.5),
    rgba(41, 53, 141, 0.5),
    rgba(84, 62, 183, 0.5),
    rgba(135, 64, 221, 0.5)
  );
}
.banner-content h1 {
  color: var(--white);
  margin-bottom: 12px;
  font-weight: 900;
  text-shadow: var(--primary-tshadow);
}
.banner-content p {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 42px;
  text-shadow: var(--primary-tshadow);
}
.banner-form {
  width: 720px;
  margin: 0 auto;
  border-radius: 8px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-form .select-option {
  padding: 3px 33px 3px 15px;
  border-right: 1px solid var(--border);
}
.banner-form .select-option::before {
  right: 15px;
}
.banner-form .select-option .option-list {
  top: 51px;
}
.banner-form input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 15px;
  background: transparent;
}
.banner-form button {
  height: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.3px;
  color: var(--primary);
  white-space: nowrap;
  text-transform: capitalize;
  border-left: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-form button i {
  margin-left: 20px;
}
.banner-form button span {
  margin: 0px 18px 0px 6px;
}
@media (max-width: 575px) {
  .banner-part {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .banner-content {
    padding: 80px 30px 90px;
  }
  .banner-form {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner-form {
    width: 100%;
  }
}
.promo-part {
  margin: 30px 0px;
}
.promo-slider li {
  margin: 0px 10px;
}
.promo-slider li a img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
}
@media (max-width: 767px) {
  .promo-slider li {
    margin: 0px 8px;
  }
}
